In [282]:
import pandas as pd

In [283]:
# Llamar los datos de periodicidad
per_oct = pd.read_excel('FUENTES IPC - PERIODICIDAD.xlsx', sheet_name='PER_OCT_2022', dtype=str, usecols = ['ID_INE','Periodicidad'])
per_nov = pd.read_excel('FUENTES IPC - PERIODICIDAD.xlsx', sheet_name='PER_NOV_2022', dtype=str, usecols = ['ID_INE','Periodicidad'])
per_dic = pd.read_excel('FUENTES IPC - PERIODICIDAD.xlsx', sheet_name='PER_DIC_2022', dtype=str, usecols = ['ID_INE','Periodicidad'])
per_ene = pd.read_excel('FUENTES IPC - PERIODICIDAD.xlsx', sheet_name='PER_ENE_2023', dtype=str, usecols = ['ID_INE','Periodicidad'])

In [284]:
# Georeferenciacion de octubre 2022 a enero 2023
geo_oct = pd.read_excel('FUENTES IPC - GEO.xlsx', sheet_name = 'GEO-OCT-2022',dtype=str, usecols = ["ID_INE"]) 
geo_nov = pd.read_excel('FUENTES IPC - GEO.xlsx', sheet_name = 'GEO-NOV-2022',dtype=str, usecols = ["ID_INE"]) 
geo_dic = pd.read_excel('FUENTES IPC - GEO.xlsx', sheet_name = 'GEO-DIC-2022',dtype=str, usecols = ["ID_INE"]) 
geo_en  = pd.read_excel('FUENTES IPC - GEO.xlsx', sheet_name = 'GEO_ENE_2023',dtype=str, usecols = ["ID_INE"])

In [285]:
# Fuentes asignadas de octubre 2022 a enero 2023
fuentes_oct = pd.read_excel('FUENTES IPC - ASIGNADAS.xlsx', sheet_name = 'FUENTES-OCT-2022',dtype=str, usecols=["RegCod","DepCod","MunCod","FntCod","NOMBRE_FUENTE","DIRECCION","CANTIDAD_ARTICULOS"]) 
fuentes_nov = pd.read_excel('FUENTES IPC - ASIGNADAS.xlsx', sheet_name = 'FUENTES-NOV-2022',dtype=str, usecols=["RegCod","DepCod","MunCod","FntCod","NOMBRE_FUENTE","DIRECCION","CANTIDAD_ARTICULOS"])  
fuentes_dic = pd.read_excel('FUENTES IPC - ASIGNADAS.xlsx', sheet_name = 'FUENTES-DIC-2022',dtype=str, usecols=["RegCod","DepCod","MunCod","FntCod","NOMBRE_FUENTE","DIRECCION","CANTIDAD_ARTICULOS"])  
fuentes_en  = pd.read_excel('FUENTES IPC - ASIGNADAS.xlsx', sheet_name = 'FUENTES-ENE-2023',dtype=str, usecols=["RegCod","DepCod","MunCod","FntCod","NOMBRE_FUENTE","DIRECCION","CANTIDAD_ARTICULOS"])

In [286]:
# Unir las bases de datos y escribe un nuevo dataframe
archivos = [per_oct,per_nov,per_dic,per_ene]
periodicidad = pd.concat(archivos,ignore_index=True).drop_duplicates(subset = ['ID_INE']).reset_index()

In [287]:
# Lista de georeferenciadas
georef = [geo_oct,geo_nov,geo_dic,geo_en]

In [288]:
# Nuevo dataframe de georeferenciados 
geo_new = pd.concat(georef, ignore_index=True).drop_duplicates(subset = ['ID_INE']).reset_index()

In [289]:
#Lista de fuentes asignadas 
fuentes = [fuentes_oct, fuentes_nov, fuentes_dic, fuentes_en]

In [290]:
# Agregar ID_INE en fuentes asignadas (no tenian en la primera version)
for fuente in fuentes:
    fuente.insert(7,"ID_INE",fuente.RegCod+"."+fuente.DepCod+"."+fuente.MunCod+"."+fuente.FntCod+".")

In [291]:
# Nuevo dataframe de fuentes asignadas 
fuentes_new = pd.concat(fuentes, ignore_index=True).drop_duplicates(subset = ['ID_INE']).reset_index()

In [292]:
# Extraer fuentes no georeferenciadas
fuentes_new.drop(fuentes_new[fuentes_new.ID_INE.isin(geo_new.ID_INE) ].index, inplace = True)
fuentes_new = fuentes_new.reset_index()

In [293]:
# Añadir peridicidad al dataframe
fuentes_new = fuentes_new.merge(periodicidad,how = 'left', on = 'ID_INE')

In [294]:
# Eliminar duplicados por nombre y dirección
fuentes_new = fuentes_new.sort_values(["Periodicidad"]).drop_duplicates(subset = ["NOMBRE_FUENTE","DIRECCION"],keep="first")

In [295]:
fuentes_new.reset_index()

,index,level_0,index_x,RegCod,DepCod,MunCod,FntCod,NOMBRE_FUENTE,DIRECCION,CANTIDAD_ARTICULOS,ID_INE,index_y,Periodicidad
0,0,1,1,01,01,01,1004,POLLERIA NANCY ...,MDO. SAN JOSE MERCANTIL LOCAL 207 ...,1,01.01.01.1004.,228.0,01
1,1664,5226,5234,06,10,01,7835,VENTA DE VERDURA SIN NOMBRE ...,INTERIOR DEL MERCADO TERMINAL AREA DE VERDURA ...,0,06.10.01.7835.,5191.0,01
2,1663,5225,5233,06,10,01,7834,VENTA DE FRUTA SIN NOMBRE ...,EXTER. MERCADO TERMINAL POR PANADERIA SAN CARL...,0,06.10.01.7834.,5190.0,01
3,1662,5224,5232,06,10,01,7833,VENTA DE FRUTA SIN NOMBRE ...,EXTER. MERCADO TERMINAL POR VENTA DE POLLO Y E...,0,06.10.01.7833.,5189.0,01
4,1661,5223,5231,06,10,01,7831,VENTA DE COMIDA SIN NOMBRE ...,EXT MERCADO TERMINAL POR VENTA DE ROPA TIPICA ...,0,06.10.01.7831.,5188.0,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6146,5901,12186,24601,02,16,01,3888,IRMA YOLANDA CAAL LUC ...,8 AVENIDA 5-71 ...,1,02.16.01.3888.,NaN,NaN
6147,5915,12223,25427,03,18,01,1716,COLEGIO MARANATHA ...,7 AVENIDA ENTRE 16 Y 17 CALLE ...,4,03.18.01.1716.,NaN,NaN
6148,6065,12396,28029,06,09,01,9731,ROSAS - MAYLIN SUCELI ACENCIO LOPEZ ...,RESIDENCIALES VALLE DE LAS ROSAS CASA P-23 ...,1,06.09.01.9731.,NaN,NaN
6149,6113,12458,29367,08,17,01,1122,COLEGIO EVANGELICO BETHESDA AIDEE PACAY ...,4A. CALLE A 6-34 SANTA ELENA PETEN AM ...,5,08.17.01.1122.,NaN,NaN
6150,6148,12493,29747,08,17,03,9137,SOI BEATY STUDY 10 ...,"BARRIO 3 DE ABRIL, FRENTE A L PARQUE MUNICIPAL...",3,08.17.03.9137.,NaN,NaN

In [296]:
# Escribir nuevo documento de excel
cols = ['ID_INE','RegCod','DepCod','MunCod','FntCod','NOMBRE_FUENTE','DIRECCION','CANTIDAD_ARTICULOS','Periodicidad']
fuentes_new.reset_index()
fuentes_new.to_excel('fuentes_faltan.xlsx', columns=cols, index = False)

In [298]:
fuentes_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6151 entries, 0 to 6148
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   level_0             6151 non-null   int64
 1   index_x             6151 non-null   int64
 2   RegCod              6150 non-null   object
 3   DepCod              6151 non-null   object
 4   MunCod              6151 non-null   object
 5   FntCod              6151 non-null   object
 6   NOMBRE_FUENTE       6151 non-null   object
 7   DIRECCION           6151 non-null   object
 8   CANTIDAD_ARTICULOS  6151 non-null   object
 9   ID_INE              6150 non-null   object
 10  index_y             6115 non-null   float64
 11  Periodicidad        6115 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 624.7+ KB